/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

/* SIDEBAR */
.sidebar {
    width: 250px;
    height: 100vh;
    background-color: #083d97;

    padding: 30px 15px;
    color: white;
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
    box-shadow: 2px 0 8px rgba(0,0,0,0.1);
    transition: all 0.3s;
}

.sidebar img {
    height: 120px;
    width: 120px;
    margin-bottom: 15px;
    border-radius: 50%;
    object-fit: cover;
}

.sidebar h2 {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 35px;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.3);
    letter-spacing: 1px;
}

.sidebar a {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 12px 18px;
    text-decoration: none;
    color: white;
    background: rgba(255,255,255,0.08);
    margin-bottom: 12px;
    border-radius: 12px;
    font-weight: 500;
    transition: 0.3s;
}

.sidebar a i { margin-right: 12px; font-size: 18px; }

.sidebar a:hover { background-color: rgba(255,255,255,0.25); transform: translateX(5px); }

/* .sidebar a.active { background-color: rgba(255,255,255,0.35); } */
.sidebar a.active {
    background-color: #2d7af5;
}

/* Responsive */
@media (max-width: 900px) {
    .sidebar { position: relative; width: 100%; height: auto; flex-direction: row; padding: 15px; justify-content: space-around; }
}